  # Database
  DATABASE_URL=postgresql://user:password@localhost:5432/comfortablemove

  # Redis
  REDIS_URL=redis://localhost:6379/0

  # Seoul Bus API
  SEOUL_BUS_API_KEY=29b4ab63713865b3f2cdf31264b27efa9dfac8019d464980fdccef522c46e39e

  # App
  APP_VERSION=1.0.0
  DEBUG=true
